name: Docker

on:
    push:
    pull_request:

permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build image
              uses: docker/build-push-action@v6
              with:
                  context: .
                  load: true
                  tags: nerd-backlog:ci
                  platforms: linux/amd64
