name: Go

on:
    push:
    pull_request:

permissions:
    contents: read
    security-events: write

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  fetch-depth: 0

            - name: Install Go
              uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
              with:
                  go-version-file: go.mod

            - name: Run linters
              uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
              with:
                  problem-matchers: true
                  args: --output.sarif.path linter-results.sarif

            - name: Upload SARIF to Code Scanning
              if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name == github.repository
              uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
              with:
                  sarif_file: ./linter-results.sarif

    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
              with:
                  fetch-depth: 0

            - name: Install Go
              uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
              with:
                  go-version-file: go.mod

            - name: Verify go version
              run: |
                  echo "GOVERSION=$(go version)" >> $GITHUB_ENV
                  go version

            - name: Run tests
              run: go test -v -covermode=count -coverprofile=coverage.out ./...

            - name: Coveralls
              uses: coverallsapp/github-action@648a8eb78e6d50909eff900e4ec85cab4524a45b # v2.3.6
              with:
                  github-token: ${{ secrets.github_token }}
                  file: coverage.out
                  format: golang
